:root {
  --text: #fff;
  --accent: #ff7bc8;
  --bg-dark: rgba(0, 0, 0, 0.6);
  --gradient-dark: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
}

.raya-profile {
  width: 100%;
  max-width: 500px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  background: #000;
  color: var(--text);
}

.raya-header {
  position: relative;
  width: 100%;
  height: 700px;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.raya-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.raya-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--gradient-dark);
  top: 0;
  left: 0;
}

.raya-info {
  position: relative;
  z-index: 2;
  padding: 40px 30px;
  text-align: center;
  width: 100%;
  margin-bottom: 50px;
}

.raya-name {
  font-size: 50px;
  margin: 0;
  font-weight: 600;
  text-align: left;
}

.raya-age {
  font-size: 25px;
  font-weight: 400;
  opacity: 0.9;
  margin-left: 0px;
}

.raya-job {
  font-size: 14px;
  margin-top: 0px;
  opacity: 0.9;
  text-align: left;
}

.raya-location {
  font-size: 13px;
  margin-top: -10px;
  opacity: 0.8;
  text-align: left;
}

.raya-location i {
  color: var(--accent);
  margin-right: 4px;
}

.raya-mini-desc {
  background: var(--bg-dark);
  border-radius: 10px;
  padding: 12px 15px;
  font-size: 13px;
  line-height: 1.4;
  margin-top: 25px;
  display: inline-block;
  color: var(--text);
  backdrop-filter: blur(6px);
}

/* --- ICONES DU BAS --- */
    .raya-icons {
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      gap: 15px;
      z-index: 10;
    }

    .icon-circle {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background: rgba(255, 255, 255, 0.15);
      backdrop-filter: blur(5px);
      color: #fff;
      cursor: pointer;
      transition: all 0.3s ease;
    }

    .icon-circle.small {
      width: 45px;
      height: 45px;
      font-size: 16px;
    }

    .icon-circle.big {
      width: 60px;
      height: 60px;
      font-size: 20px;
    }

    .icon-circle:hover {
      background: rgba(255, 255, 255, 0.3);
      transform: scale(1.1);
    }
